* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f4f4f4;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #111;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    height: 100vh;
    background: linear-gradient(to right, #667eea, #764ba2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero button {
    margin-top: 25px;
    padding: 12px 28px;
    border: none;
    border-radius: 30px;
    background: #ff9800;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    background: #e68900;
    transform: scale(1.1);
}


/* Sections */
.section {
    padding: 80px 40px;
    margin-top: 60px;
    text-align: center;
    background: white;
}

/* Skills */
.skill {
    margin: 20px 0;
}

.bar {
    width: 80%;
    background: #ddd;
    margin: auto;
    border-radius: 20px;
}

.progress {
    height: 15px;
    border-radius: 20px;
}

.html { width: 90%; background: #e44d26; }
.css { width: 80%; background: #264de4; }
.js { width: 70%; background: #f0db4f; }

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* Contact */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 10px;
    border: none;
    background: #111;
    color: white;
    cursor: pointer;
}

/* Footer */
footer {
    background: #111;
    color: white;
    padding: 15px;
    text-align: center;
}
